{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <form class="form-signin text-center col-lg-4 col-md-6 col-sm-12 col-lg-offset-4 col-offset-md-3 col-sm-offset-0" style="margin-top: 50px" action="/login" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    	<h1 class="h3 mb-3 font-weight-normal">Login</h1>
        {% from "formhelpers.html" import render_field %}
        {{ render_field(data.form.email) }}
        {{ render_field(data.form.password) }}

    	<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

        <br>
        {% if data.status == 401 %}
            {% if data.type == 1 %}
            <div class="alert alert-danger" role="alert">
                {{data.msg}}
            </div>
            {% elif data.type == 2 %}
            <div class="alert alert-warning" role="alert">
                {{data.msg}}
            </div>
            {% endif %}
        {% elif data.status == 200 %}
            {% if data.type == 3 %}
            <div class="alert alert-success" role="alert">
                {{data.msg}}
            </div>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}